*.iml
.gradle
.kotlin
/local.properties
/.idea/*
!/.idea/runConfigurations
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

app/build/
app/release/
app/debug/

*.apk
*.aab
*.ap_
*.dex
*.class
keystore.properties
*.keystore
*.jks
